%%-*- mode: erlang -*-
%% ex: ft=erlang
{deps, [
        % Correct tagged IMEM is always pulled before dderloci
        % so this will not be pulled
        {imem, "1.2.5", {git, "https://github.com/k2informatics/imem.git", master}},
        % TODO: Update to next release version of erloci
        {erloci, "0.0.3", {git, "https://github.com/k2informatics/erloci.git", master}}
]}.
