%%-*- mode: erlang -*-
{deps, [
    {imem,      "1.2.3",    {git, "git@github.com:k2informatics/imem.git",          {tag, "imem-1.2.3"}}},
    {sqlparse,  "",         {git, "git@github.com:k2informatics/sqlparse.git",      master}},
    {erloci,    "",         {git, "git@github.com:k2informatics/erloci.git",        master}}
]}.
